<!doctype html>
<html lang="en">
  <head>
    <title>effectube</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

  </head>
  <body>

    <!-- HEADER -->
    <div class="container-fluid">

        <div class="row">

<header class="fixed-top">
   
                <h2>EFFECTUBE</h2>
     
</header>

<iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe"></iframe>

<!-- MAIN VIDEO -->

<div id="mainvideo" class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
        <iframe width="100%" style="min-height:600px;" src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div>
    



<!-- SUB VIDEO -->

<div id="subvideo" class="col-sm-4 col-md-5 col-lg-6 offset-xl-1 col-xl-3">

    <!-- 1 -->
    <div class="row col-xl-10">
        <iframe style="min-height:250px; min-width:300px;" src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div><hr>

    <!-- 2 -->
    <div class="row col-xl-10">
        <iframe style="min-height:250px; min-width:300px;" name="jeeva" src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>

        
        <a target="jeeva"><img src="https://www.clariontech.com/hubfs/Angular%20Features.png"></a>
    </iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div><hr>

    <!-- 3 -->
    <div class="row col-xl-10">
        <iframe style="min-height:250px; min-width:300px;" src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div><hr>

    <!-- 4 -->
    <div class="row col-xl-10">
        <iframe style="min-height:250px; min-width:300px;"  src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div><hr>

    <!-- 5 -->
    <div class="row col-xl-10">
        <iframe style="min-height:250px; min-width:300px;" src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div><hr>

    <!-- 6 -->
    <div class="row col-xl-10">
        <iframe style="min-height:250px; min-width:300px;" src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div><hr>

    <!-- 7 -->
    <div class="row col-xl-10">
        <iframe style="min-height:250px; min-width:300px;" src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div><hr>

    <!-- 8 -->
    <div class="row col-xl-10">
        <iframe style="min-height:250px; min-width:300px;" src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div><hr>

    <!-- 9 -->
    <div class="row col-xl-10">
        <iframe style="min-height:250px; min-width:300px;" src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div><hr>

    <!-- 10 -->
    <div class="row col-xl-10">
        <iframe style="min-height:250px; min-width:300px;" src="https://www.youtube.com/embed/Ata9cSC2WpM"  id="myVideo" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h4>Angular in 100 seconds</h4>
        <p>430,324 views  9 Sept 2020</p>
        <p> Angular is arguably the most advanced frontend JavaScript framework ever created. Learn the basics of Angular in 100 Seconds.</p>
    </div><hr>

</div>

</div>
</div>








<!-- PLAY LIST -->
<!-- <div id="a1" class="grid-container" >
<div class="row d-block float-end">
    <div class="col">1</div><br>
    <div class="col">2</div><br>
    <div class="col">3</div><br>
    <div class="col">4</div><br>
    <div class="col">5</div><br>
    <div class="col">6</div><br>
    <div class="col">7</div><br>
    <div class="col">8</div><br>
    <div class="col">9</div><br>
    <div class="col">10</div><br><br>
</div> -->

<!-- <div class="container-fluid">
    <div id="video" class="col-sm-3 col-md-5 col-lg-6 col-9" style="margin-top:100px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/Ata9cSC2WpM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h5>Angular in 100 seconds</h5>
        <p></p>
    </div>
</div>
</div> -->









      
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
  </body>


</html>